body {
    background-image: url("/SOURCE/10421855_MotionElements_natural-lens-flare-003_converted_230105-640x360-30s-q1.gif");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#coverfield {

}

.coverimagefile {
    height: 100%;

}

.form-inline {
    align-content: right;
}
